.container {
  height: 100vh;
  text-align: center;
  scroll-snap-type: mandatory;
  scroll-padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  background-image: -webkit-radial-gradient(
    top,
    circle farthest-corner,
    #3c3b52 0%,
    #252233 70%
  );
  background-image: -moz-radial-gradient(
    top,
    circle farthest-corner,
    #3c3b52 0%,
    #252233 70%
  );
  background-image: -o-radial-gradient(
    top,
    circle farthest-corner,
    #3c3b52 0%,
    #252233 70%
  );
  background-image: radial-gradient(
    top,
    circle farthest-corner,
    #3c3b52 0%,
    #252233 70%
  );
}

.child {
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starsdiv {
  pointer-events: none;
}

.hero {
  margin: 0px 10px;
  flex-direction: column;
  text-align: center;
}

.hero button {
  margin-top: 25px;
}

.description {
  text-align: center;
  color: white;
  margin: 15px;
  line-height: 1.5;
  font-size: 1.5rem;
}

.header {
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 1.5rem;
}

.socialicons {
  width: 25px;
  height: 40px;
}

.code {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.075);
  color: white;
  border-radius: 5px;
  padding: 0.55rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.glass {
  padding: 100px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
