.letters {
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  stroke-width: 2px;
  fill: url("#Gradient");
  fill-opacity: 0;
  animation: draw 1.2s linear forwards, fillPath ease-in 1s forwards;
  animation-delay: calc(var(--order) * 110ms);
}

.boxStuff {
  stroke-dasharray: 2900;
  stroke-dashoffset: 2900;
  stroke-width: 2px;
  fill: url("#Gradient");
  fill-opacity: 0;
  animation: draw 1s linear forwards, fillPath ease-in 1s forwards;
  animation-delay: calc(var(--order) * 230ms);
}

.mobileBoxStuff {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-width: 2px;
  fill: url("#Gradient");
  fill-opacity: 0;
  animation: draw 2.4s linear forwards, fillPath ease-in 2.4s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillPath {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0%;
    stroke-opacity: 80%;
  }
  100% {
    fill-opacity: 100%;
    stroke-opacity: 0;
  }
}

.lettersLight {
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  stroke-width: 2px;
  fill: url("#GradientLight");
  fill-opacity: 0;
  animation: draw 1.2s linear forwards, fillPathLight ease-in 1s forwards;
  animation-delay: calc(var(--order) * 120ms);
}

.boxStuffLight {
  stroke-dasharray: 2900;
  stroke-dashoffset: 2900;
  stroke-width: 2px;
  fill: url("#GradientLight");
  fill-opacity: 0;
  animation: draw 1s linear forwards, fillPathLight ease-in 1s forwards;
  animation-delay: calc(var(--order) * 230ms);
}

.mobileBoxStuffLight {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-width: 2px;
  fill: url("#GradientLight");
  fill-opacity: 0;
  animation: draw 2.4s linear forwards, fillPathLight ease-in 2.4s forwards;
}

@keyframes fillPathLight {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0%;
    stroke-opacity: 80%;
  }
  100% {
    fill-opacity: 100%;
    stroke-opacity: 0;
  }
}

.svg {
  width: 100%;
  height: 100%;
}
