.svg {
  stroke: #000000;
  fill: #000000;
  width: 280px;
  height: 280px;
}

.sitelogo {
  width: 280px;
  height: 280px;
  stroke-width: 4px;
}

.sitelogok {
  stroke: #000000;
  fill: #000000;
}

.sitelogol {
  stroke: #000000;
  fill: none;
}
